<form class="form-inline">
  <div class="form-group mx-sm-3">
    <label for="inputPassword2" class="sr-only">Host</label>
    <input type="text" class="form-control" id="host" placeholder="host">
  </div>
  <button type="button" {{action "connect"}} class="btn btn-primary">Connect</button>
</form>
