#courtesies-banner {
  z-index: 15;

  @include background(
    $color: $gray-light
  );

  @include breakpoint-up($large) {

    @include background(
      $color: transparent
    )
  }

  i {
    opacity: .7;
    transform: scale(0.7);
    @include breakpoint-up($large) {
      -webkit-filter: brightness(50);
      opacity: 0.7;
    }
  }

  span {
    color: $gray-dark;
    font-size: 11px;
    @include breakpoint-up($large) {
      color: rgba(255, 255, 255, 0.7);
      font-size: 13px;
    }
  }

  a {
    outline: none;
    text-decoration: none;
    @include breakpoint-up($large) {
      margin-right: 1rem;
      border-top: 2px solid transparent;
    }

    &.active, &:hover {

      span {
        color: $blue;
        @include breakpoint-up($large) {
          color: $white;
        }
      }
      i {
        opacity: 1;
        -webkit-filter: sepia(58%) hue-rotate(159deg) saturate(440%);
        @include breakpoint-up($large) {
          -webkit-filter: brightness(50);
        }
      }
    }

    &.active {
      @include breakpoint-up($large) {
        border-top: 2px solid $white;
      }
    }

   div {
      padding: 0.5rem 0;
   }
  }
}
