.icon-burger {
    width: 24px;
    height: 21px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -209px, 28px, 591px);
}
.icon-close {
    width: 26px;
    height: 26px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -306px, 28px, 591px);
}
.icon-search-blue {
    width: 26px;
    height: 26px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -333px, 28px, 591px);
}
.icon-gray-coupon {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -256px, 28px, 591px);
}
.icon-gray-product {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -231px, 28px, 591px);
}
.icon-gray-trend {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -281px, 28px, 591px);
}
.icon-hong-kong {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, 0px, 28px, 591px);
}
.icon-indonesia {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -114px, 28px, 591px);
}
.icon-malaysia {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -133px, 28px, 591px);
}
.icon-philippines {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -152px, 28px, 591px);
}
.icon-singapore {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -171px, 28px, 591px);
}
.icon-thailand {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -190px, 28px, 591px);
}
.icon-vietnam {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -19px, 28px, 591px);
}
.icon-automotive {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -360px, 28px, 591px);
}
.icon-electronics {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -563px, 28px, 591px);
}
.icon-fashion {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -418px, 28px, 591px);
}
.icon-health-beauty {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -447px, 28px, 591px);
}
.icon-home-living {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -476px, 28px, 591px);
}
.icon-kids-toys {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -505px, 28px, 591px);
}
.icon-others {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -534px, 28px, 591px);
}
.icon-sports-outdoor {
    width: 28px;
    height: 28px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -389px, 28px, 591px);
}
.icon-facebook {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -76px, 28px, 591px);
}
.icon-google-plus {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -57px, 28px, 591px);
}
.icon-pinterest {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -38px, 28px, 591px);
}
.icon-twitter {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/common/global-icons-2x.png", 0px, -95px, 28px, 591px);
}
