.icon-carousel-active {
    width: 8px;
    height: 8px;
    @include background("/images/sprites/common/sharable-icons-2x.png", 0px, 0px, 14px, 63px);
}
.icon-carousel-inactive {
    width: 8px;
    height: 8px;
    @include background("/images/sprites/common/sharable-icons-2x.png", 0px, -9px, 14px, 63px);
}
.icon-carousel-left {
    width: 14px;
    height: 22px;
    @include background("/images/sprites/common/sharable-icons-2x.png", 0px, -18px, 14px, 63px);
}
.icon-carousel-right {
    width: 14px;
    height: 22px;
    @include background("/images/sprites/common/sharable-icons-2x.png", 0px, -41px, 14px, 63px);
}
