.white { color: $white }

.blue { color: $blue; }
.turquoise { color: $turquoise; }
.orange { color: $orange; }

.gray-base { color: $gray-base; }
.gray-light { color: $gray-light; }
.gray-dark { color: $gray-dark; }
.grey-darker { color: $gray-darker; }

.black-light { color: $black-light }
