//-----------------------------------------
// property: opacity
// default: 1
//-----------------------------------------
//.opacity-50  { opacity: .5; }
//.opacity-60  { opacity: .6; }
//.opacity-70  { opacity: .7; }
//.opacity-80  { opacity: .8; }
.opacity-90  { opacity: .9; }
//.opacity-100 { opacity: 1; }

//@include breakpoint-up($small) {
//  .opacity-50-ns  { opacity: .5; }
//  .opacity-60-ns  { opacity: .6; }
//  .opacity-70-ns  { opacity: .7; }
//  .opacity-80-ns  { opacity: .8; }
//  .opacity-90-ns  { opacity: .9; }
//  .opacity-100-ns { opacity: 1; }
//}
//
//@include breakpoint-range($small, $large) {
//  .opacity-50-m  { opacity: .5; }
//  .opacity-60-m  { opacity: .6; }
//  .opacity-70-m  { opacity: .7; }
//  .opacity-80-m  { opacity: .8; }
//  .opacity-90-m  { opacity: .9; }
//  .opacity-100-m { opacity: 1; }
//}
//
//@include breakpoint-up($large) {
//  .opacity-50-l  { opacity: .5; }
//  .opacity-60-l  { opacity: .6; }
//  .opacity-70-l  { opacity: .7; }
//  .opacity-80-l  { opacity: .8; }
//  .opacity-90-l  { opacity: .9; }
//  .opacity-100-l { opacity: 1; }
//}
