/*
  Combine this class with a width to truncate text
  (or just leave as is to truncate at width of containing element.
*/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
