.icon-arrow-right {
    width: 20px;
    height: 20px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -165px, 24px, 431px);
}
.icon-call-action {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -87px, 24px, 431px);
}
.icon-coupon-blue {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -282px, 24px, 431px);
}
.icon-details-no {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -68px, 24px, 431px);
}
.icon-details-yes {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -30px, 24px, 431px);
}
.icon-news-darkgray {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -357px, 24px, 431px);
}
.icon-news-mobile {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -49px, 24px, 431px);
}
.icon-news {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -207px, 24px, 431px);
}
.icon-offer-arrow-down {
    width: 20px;
    height: 20px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -144px, 24px, 431px);
}
.icon-offer-arrow-up {
    width: 20px;
    height: 20px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -186px, 24px, 431px);
}
.icon-price-darkgray {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -407px, 24px, 431px);
}
.icon-price-mobile {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -106px, 24px, 431px);
}
.icon-price {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -232px, 24px, 431px);
}
.icon-rating-darkgray {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -257px, 24px, 431px);
}
.icon-rating-mobile {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -125px, 24px, 431px);
}
.icon-rating {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -307px, 24px, 431px);
}
.icon-specification-darkgray {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -332px, 24px, 431px);
}
.icon-specification-review_no {
    width: 14px;
    height: 14px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -15px, 24px, 431px);
}
.icon-specification-review_yes {
    width: 14px;
    height: 14px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, 0px, 24px, 431px);
}
.icon-specification {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/compare-icons-2x.png", 0px, -382px, 24px, 431px);
}
