.icon-call-action {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -57px, 60px, 528px);
}
.icon-close-dark {
    width: 36px;
    height: 36px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -243px, 60px, 528px);
}
.icon-breadcrumb {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -95px, 60px, 528px);
}
.icon-mobile-crumb {
    width: 20px;
    height: 20px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -135px, 60px, 528px);
}
.icon-arrow-down {
    width: 12px;
    height: 7px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -6px, 60px, 528px);
}
.icon-frown-face-box {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -181px, 60px, 528px);
}
.icon-frown-face {
    width: 60px;
    height: 60px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -468px, 60px, 528px);
}
.icon-happy-face-box {
    width: 24px;
    height: 24px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -156px, 60px, 528px);
}
.icon-happy-face {
    width: 60px;
    height: 60px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -407px, 60px, 528px);
}
.icon-survey-icon {
    width: 48px;
    height: 44px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -362px, 60px, 528px);
}
.icon-swipe-down {
    width: 20px;
    height: 20px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -114px, 60px, 528px);
}
.icon-arrow-gotop {
    width: 11px;
    height: 5px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, 0px, 60px, 528px);
}
.icon-nav {
    width: 36px;
    height: 36px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -206px, 60px, 528px);
}
.icon-search-gray {
    width: 18px;
    height: 18px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -76px, 60px, 528px);
}
.icon-minus {
    width: 12px;
    height: 12px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -14px, 60px, 528px);
}
.icon-more {
    width: 16px;
    height: 16px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -40px, 60px, 528px);
}
.icon-plus {
    width: 12px;
    height: 12px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -27px, 60px, 528px);
}
.icon-gallery-left {
    width: 40px;
    height: 40px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -280px, 60px, 528px);
}
.icon-gallery-right {
    width: 40px;
    height: 40px;
    @include background("/images/sprites/iprice/global-icons-2x.png", 0px, -321px, 60px, 528px);
}
