// http://themes.creativemilk.net/files/karma/leftsidebar/dark/tabs.html
// Default Colors
$white: rgb(255, 255, 255);

$orange: rgb(232, 68, 58); // #e8443a

$gray-base: rgb(187, 187, 187); // #bbb
$gray-dark: rgb(68, 68, 68); // #444
$gray-darker: rgb(51, 51, 51); // #333

$black-dark: rgb(51, 51, 51); // #222

// Debug Colors
$dev: #bff7f7;
$qa: #fdaa8c;
$staging: #dbfd7c;
