{{ partial-header }}
{{ gomo-connection }}

<h1>Hello World</h1>

{{#link-to 'gomo' class="button"}}
    Home
{{/link-to}}

{{#link-to 'scientists' class="button"}}
    Scientists
{{/link-to}}

{{outlet}}
